<span class="section__title">{{ .Title | default "Projects" }}</span>
<div class="portfolio__content">
    {{ range first 1 (where .Data.Pages "Params.featured" "==" true) }}
        <section class="portfolio__featured-project">
            <div class="section-inner">
                <div class="portfolio_content">
                    <div class="item featured text-center">
                        <span class="project__title">
                            <a href="{{ .Params.Link }}" target="_blank" rel="noopener noreferrer">{{ .Title }}</a>
                        </span>
                        <p class="project__subtitle-big">
                            <sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup>
                            {{ .Params.description }}
                            <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup>
                        </p>
                        <div class="project__featured-image">
                            {{ if .Params.screenshot }}
                                <img src="{{ .Params.screenshot }}"  alt="{{ .Title }}">
                            {{ end }}
                        </div>
                        <div class="project__summary">
                                {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{ end }}
    <section>
        <div class="portfolio_content">
            <hr class="divider">
            {{ range (where .Data.Pages "Params.featured" "!=" true).ByDate.Reverse }}
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12" href="{{ .Params.link }}"
                    target="_blank" rel="noopener noreferrer">
                    {{ if .Params.screenshot }}
                        <img class="project__image img-responsive" src="{{ .Params.screenshot }}" alt="{{ .Title }}">
                    {{ end }}
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <span class="project__title">
                        <a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">{{ .Title }}</a>
                    </span>
                    <span class="project__subtitle-small">
                        <sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup>
                        {{ .Params.description }}
                        <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup>
                    </span>

                    <div class="post__meta">

                      <i class="fas fa-calendar-alt"></i>
                      {{ if isset .Params "start_date" }}
                         {{ dateFormat (.Site.Params.dateformat | default "Jan 2006") .Params.start_date }}
                         -
                      {{ end }}
                      {{ .Date.Format (.Site.Params.dateformat | default "Jan 2006") }}
                      <!-- categories -->
                      {{ with .Params.categories }}
                        {{ $total := len . }}
                        {{ if gt $total 0 }}
                      @
                            {{ $total := sub $total 1 }}
                            {{ range $i, $cat := sort . }}
                                <a class="badge badge-category" href="{{ "/categories/" | relURL }}{{ $cat | urlize }}">{{ $cat | upper }}</a>
                                {{ if lt $i $total }}•{{ end }}
                            {{ end }}
                        {{ end }}
                      {{ end }}
                      <!-- tags -->
                      {{ with .Params.tags }}
                        {{ $total := len . }}
                        {{ if gt $total 0 }}
                            <br/>
                            {{ $subtotal := sub $total 1 }} <i class="fas fa-code"></i>
                            {{ range $i, $tag := . }}
                            <a class="badge badge-tag" href="{{ "/portfolio/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag | lower }}</a>
                            {{ if lt $i $subtotal }} {{ end }}
                          {{ end }}
                        {{ end }}
                      {{ end }}
                    </div>

                    <span class="project__summary">
                        {{ .Content }}
                    </span>
                </div>
            </div>
            <div class="row-space">&nbsp;</div>
            {{ end }}
        </div>
    </section>
</div>
